</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
        $(".close").click(()=>{
            $("#nav-check").prop("checked", false);
        })
        var myElementToCheckIfClicksAreInsideOf = document.querySelector('.page-container');
        document.body.addEventListener('click', function (event) {
            if (myElementToCheckIfClicksAreInsideOf.contains(event.target)) {
                $("#nav-check").prop("checked", false);
            }
        })
    </script>
    <script src="index.js"></script>
</script>
</body>
<footer>
    <div>
        <h2>Contact Us</h2>

        <a href="">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="">
            <i class="fa-regular fa-envelope"></i>
        </a>
    </div>
    <hr>
    <p class="copyright">&copy; 2023 All rights reserved, Volt</p>
</footer>

</html>