<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volt:ElectronicsClub of SE,JNU</title>
  <script src="https://kit.fontawesome.com/01d709539c.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&family=Ubuntu&display=swap"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <nav >
    <div class="logo">
      <img src="/img/logo.png" alt="Logo">
      <a href="/">Electronics Club</a>
    </div>
    <div class="menu">
      <input type="checkbox" id="nav-check">
      <label for="nav-check" class="nav-check-label"><i class="fas fa-bars fa-lg"></i></label>
    </div>
    <div class="list-items">
      <ul>
        <li class="close-btn">
          <button class="close"><i class="fa-solid fa-xmark"></i></button>
        </li>
        <li>
          <a href="#home">About</a>
        </li>
        <li>
          <a href="#events">Events</a>
        </li>
        <li>
          <a href="#team">Teams</a>
        </li>
        <li>
          <a href="/blog">Blogs</a>
        </li>
      </ul>
    </div>
    
  </nav>
  <svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 190" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(1, 15, 31, 1)" offset="0%"></stop><stop stop-color="rgba(0, 21, 43, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,38L17.1,57C34.3,76,69,114,103,114C137.1,114,171,76,206,63.3C240,51,274,63,309,72.8C342.9,82,377,89,411,85.5C445.7,82,480,70,514,63.3C548.6,57,583,57,617,63.3C651.4,70,686,82,720,82.3C754.3,82,789,70,823,60.2C857.1,51,891,44,926,47.5C960,51,994,63,1029,66.5C1062.9,70,1097,63,1131,66.5C1165.7,70,1200,82,1234,98.2C1268.6,114,1303,133,1337,139.3C1371.4,146,1406,139,1440,120.3C1474.3,101,1509,70,1543,50.7C1577.1,32,1611,25,1646,44.3C1680,63,1714,108,1749,133C1782.9,158,1817,165,1851,145.7C1885.7,127,1920,82,1954,69.7C1988.6,57,2023,76,2057,72.8C2091.4,70,2126,44,2160,41.2C2194.3,38,2229,57,2263,63.3C2297.1,70,2331,63,2366,76C2400,89,2434,120,2451,136.2L2468.6,152L2468.6,190L2451.4,190C2434.3,190,2400,190,2366,190C2331.4,190,2297,190,2263,190C2228.6,190,2194,190,2160,190C2125.7,190,2091,190,2057,190C2022.9,190,1989,190,1954,190C1920,190,1886,190,1851,190C1817.1,190,1783,190,1749,190C1714.3,190,1680,190,1646,190C1611.4,190,1577,190,1543,190C1508.6,190,1474,190,1440,190C1405.7,190,1371,190,1337,190C1302.9,190,1269,190,1234,190C1200,190,1166,190,1131,190C1097.1,190,1063,190,1029,190C994.3,190,960,190,926,190C891.4,190,857,190,823,190C788.6,190,754,190,720,190C685.7,190,651,190,617,190C582.9,190,549,190,514,190C480,190,446,190,411,190C377.1,190,343,190,309,190C274.3,190,240,190,206,190C171.4,190,137,190,103,190C68.6,190,34,190,17,190L0,190Z"></path></svg>
</head>
<body>