<%- include("partials/header") -%>
    
    <section id="blog">
        <h1>Volt-Blog Posts</h1>
        <div class="blog-container">
            <% if(blogItems.length===0){ %>
                <p>Oops!</p>
                <p>No Blog Posts yet!</p>
                <form action="/blog" method="post">
                    <button type="submit">Go back to Home</button>
                </form>
            <% }else{ %>
            <% blogItems.forEach(function(blogItem){ %>
                <h1><%= blogItem.title %></h1>
            <%  })} %>
        </div>
    </section>

<%- include("partials/footer") -%>