<%- include("partials/header") -%>

  <div class="page-container">

    <section id="home" class="">
      <h1><span id="one">Design.</span><span id="two">Build.</span><span id="three">Repeat.</span>
      </h1>
      <p>
        The Electronics Club is a vibrant and dynamic community of electronics enthusiasts within the School of
        Engineering at Jawaharlal Nehru University (JNU). We aim to foster a love for electronics and provide a
        platform for students to explore and expand their knowledge in this exciting field. Whether you're a beginner
        or an experienced engineer, we have something to offer to everyone interested in electronics.
      </p>
    </section>
    <section id="events">
      <h1>Past Events & Workshops</h1>
      <div class="event-item">
        <div class="event-detail">
          <h3 class="event-name">Embedded Systems Workshop</h3>
          <p class="date">
            SUN, 06/27/2021 - 11:00
          </p>
        </div>
        <div class="event-content">
          <p>Hands-on workshop on "Embedded Systems" by Electronics Club of School of Engineering.</p>
        </div>
      </div>
      <div class="event-item">
        <div class="event-detail">
          <h3 class="event-name">LTSpice Workshop</h3>
          <p class="date">
            SAT, 02/27/2021 - 11:00
          </p>
        </div>
        <div class="event-content">
          <p>Hands-on workshop on LTSpice software by Electronics Club of School of Engineering.</p>
        </div>
      </div>
    </section>
    <section id="team" class="team-grid">
      <!-- <div class="row1"> -->
        <div class="card" id="item-1">
          <img src="img/logo.png" alt="Avatar" style="width:50%">
          <div class="card-container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
          </div>
        </div>
        <div class="card" id="item-2">
          <img src="img/logo.png" alt="Avatar" style="width:50%">
          <div class="card-container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
          </div>
        </div>
        <div class="card" id="item-3">
          <img src="img/logo.png" alt="Avatar" style="width:50%">
          <div class="card-container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
          </div>
        </div>
      <!-- </div> -->
      <!-- <div class="row2"> -->
        <div class="card" id="item-4">
          <img src="img/logo.png" alt="Avatar" style="width:50%">
          <div class="card-container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
          </div>
        </div>
        <div class="card" id="item-5">
          <img src="img/logo.png" alt="Avatar" style="width:50%">
          <div class="card-container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
          </div>
        </div>
      <!-- </div> -->

    </section>
    <section id="contributors">

      <div class="card-contributor">
        <img src="img/sruthik.png" alt="Sruthik" style="width:50%">
        <h3>Sruthik Koneti</h3>
        <hr>
        <p class="title">Web Designer and Developer</p>
        <p>School of Engineering, JNU</p>

        <a href="https://github.com/sruthikkoneti"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/sruthik-koneti-730275229/"><i class="fa fa-linkedin"></i></a>

      </div>
      <div class="card-contributor">
        <img src="img/isha.png" alt="Isha" style="width:50%">
        <h3>Isha</h3>
        <hr>
        <p class="title">Web Designer and Developer</p>
        <p>School of Engineering, JNU</p>

        <a href="https://github.com/IshaKg2512"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/isha2512/"><i class="fa fa-linkedin"></i></a>

      </div>
      <div class="card-contributor">
        <img src="img/govind.png" alt="Govind" style="width:50%">
        <h3>Govind Varma</h3>
        <hr>
        <p class="title">Web Designer and Developer</p>
        <p>School of Engineering, JNU</p>

        <a href="https://github.com/govindvarma1"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/kallepalli-sai-govinda-varma/"><i class="fa fa-linkedin"></i></a>

      </div>
    </section>
  </div>



  <!-- class="position-absolute bottom-0 start-50 translate-middle-x" -->

  <%- include("partials/footer") -%>