<%- include("partials/header") -%>

<div class="page-container">
    <div class="body">
        <section id="home" class="">
            <p class="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nihil, accusamus nam itaque dolores, ipsam fuga dolorum rem iure doloremque doloribus obcaecati quis rerum, facilis quae. Incidunt aliquid quaerat rem, unde voluptates consequuntur, veniam esse natus, vero quisquam corporis? Dolorem corporis officia, exercitationem dolor qui odio tenetur a, ipsam excepturi odit vitae laboriosam vero esse pariatur iusto dignissimos impedit magni eligendi earum iure. Facilis esse molestiae dolor reprehenderit aliquam aperiam architecto numquam, repudiandae aspernatur? Ullam dolorum architecto, vel quidem voluptatibus alias accusamus nemo dicta deserunt illo, nostrum aperiam perspiciatis, eligendi veritatis similique. Accusantium harum sapiente deleniti iure quos quia atque eaque libero impedit unde, et quo repudiandae fugit, aliquam iusto beatae facilis quaerat maiores quod rem quisquam. Mollitia expedita nemo, doloribus, perferendis enim impedit ipsa recusandae quae consequuntur, eum ea quam voluptas cumque adipisci unde quia ab vero iusto placeat ut? Ea animi cupiditate pariatur officia voluptatum repudiandae dolor, dolore assumenda impedit beatae. Fugit, repellat illo dolorum quibusdam voluptates facere ipsum dolores consequatur voluptatibus ut eveniet exercitationem id maiores similique repudiandae. Vitae eaque distinctio id nesciunt ex a quo expedita eveniet saepe. Ullam veritatis ratione libero ex cumque numquam amet dolorum fugit voluptatem. Aspernatur rerum blanditiis sunt, aliquam in earum!
            </p>
            
        </section>
        <section id="events">
        <p class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum placeat dolorem reiciendis amet inventore omnis, debitis excepturi obcaecati ratione commodi quas quisquam praesentium ad enim incidunt explicabo, eligendi ipsa doloribus magnam et minima. Eaque eius quam, libero officiis aliquam ipsa non laboriosam. Provident itaque ab deleniti. Aliquid voluptatum sit sequi facilis corporis eum debitis, doloribus harum iure quisquam adipisci provident assumenda optio omnis nobis amet consequuntur? Expedita non, autem architecto dignissimos dolor quam sint suscipit cumque fugiat laboriosam libero exercitationem, eligendi accusamus cupiditate adipisci, vero tenetur? Quidem, quae? Harum, eum animi. Corrupti maiores eum nulla reiciendis id. Quidem omnis provident nobis hic? Facere inventore, deserunt labore nesciunt fuga exercitationem accusamus. Quod blanditiis iure et inventore! Iusto quasi similique deserunt mollitia excepturi! Accusamus tempore sint sunt cum minus, deleniti itaque cumque consequuntur animi totam eligendi doloremque maiores, corporis veritatis aliquid illo aperiam voluptatem, et provident in hic! Pariatur aut laboriosam deserunt voluptate tempora aperiam odio, fugiat eligendi nostrum? Odit vero eveniet rem expedita consequuntur explicabo vitae a cum non? Corrupti optio vero aut aliquid nihil, voluptate porro architecto facilis obcaecati molestias, magnam aspernatur asperiores expedita perspiciatis saepe voluptatum voluptatibus fugiat magni hic dignissimos eveniet tenetur? Eos nesciunt quae quam temporibus dicta.
        </p>
    </section>
    <section id="team">
        
    </section>
</div>
<section id="footer" >
    <!-- <div class="text-center"> -->
        <i class="fa-brands fa-linkedin fa-beat" style="color: #d5ff05;"></i>
        <i class="fa-solid fa-envelope fa-beat" style="color: #d5ff05;"></i>
        <!-- </div> -->
    </section>
</div>
<!-- class="position-absolute bottom-0 start-50 translate-middle-x" -->
    
    <%- include("partials/footer") -%>